* {
    margin: 0;
    padding: 0;
}

body {
    overflow: visible;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#logo {
    display: flex;
    padding: 10px;
}

#logo div {
    margin-left: 15px;

}

#logo img {
    width: 100px;
    height: auto;
}

.lang {
    margin-right: 3%;
}

.langbox {
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    margin-right: 13px;
    transition: all .2s ease-in-out;

}

.lang span:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;

}

nav {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul .navigation {

    display: flex;
}

nav ul li {
    list-style: none;
    padding: 5px 20px 5px 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

nav ul li:hover {
    text-shadow: 0px 3px 19px;
    font-weight: 100;

    transform: scale(1.1);

}

.search {
    padding: 10px;
    margin-top: 1%;

}

.search input {
    border-radius: 3.5px;
    padding: 6px;
    margin-right: 10px;
    border: 1.82px solid black;
    width: 20vw;
}

.search i:hover {
    transition: all .1s ease-out;
    cursor: pointer;
    transform: scale(1.12);

}

.banner {
    margin-bottom: 10px;
    width: 100%;
    height: 72.4vh
}

h3 {
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
    color: aliceblue;
    margin: 10px;
    padding: 6px;
    text-align: center;
}

.rightbanner {
    border: 1px solid black;
    width: 60%;
    border-radius: 8px;
}

#topstory {
    display: flex;
    text-align: center;
    margin: 10px;
}

#topstory p {
    font-size: 20px;
    padding: 10px;
    margin: 0px;
}

#topstory img {
    margin-top: 10px;
    border-radius: 9px;
    height: 300px;
}

button {
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 7px;
}

button:first-child {
    margin-left: 67.5%;

    margin-bottom: 3%;
}

.rightbanner {
    margin-left: 10px;
}

footer {
    display: block;
    align-items: center;
    padding: 50px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;

}


footer p {
    text-align: center;
}

footer ul li {
    list-style: none;
    padding: 20px;
    text-decoration: underline;
}